.detalle-container {
    max-width: 800px;
    margin: 0 auto;
}

.detalle-card {
    border-radius: 12px; /*La redondez de las esquinas*/
    border: none;
    padding: 15px 15px;
}

.detalle-titulo{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

.detalle-info p {
    font-size: 18px;
    margin-bottom: 5px;
}

.descripcion-box {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    min-height: 100px;
}

.boton-carrito {
    margin-top: 0px; /*Aumenta el espacio entre la descripción y el botón*/
}